.profileCard {
    margin: 10vh auto;
    padding: 50px 20px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 2px #cccccc;
}
