.card {
    background-color: white;
    margin: 5vh auto;
    padding: 50px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 2px #cccccc;
}

.thinCard {
    max-width: 500px;
}

.wideCard {
    max-width: 1200px;
}

@media screen and (max-width: 1200px) {
    .card {
        margin-top: 20px;
        padding: 40px 30px;
    }

    .wideCard {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 400px) {
    .card {
        padding: 20px 20px;
    }
}