.name {
    margin-bottom: 20px;
}

.aboutMe {
    margin: 20px 0 40px 0;
    text-align: left;
}

.section {
    margin: 20px 0;
}

.accordion {
    margin: 20px 0;
}

.accordion .title {
    display: flex;
}

.accordion .content p,
.accordion .content a,
.accordion .content h5 {
    text-align: left;
    font-family: "Anek Latin", "Barlow", "Fira Sans", sans-serif;
}

.plusButton {
    margin: 0 5px;
    width: 30px;
    aspect-ratio: 1;
    border-radius: 5px;
    border: 1px solid #aaaaaa;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s;
}

.plusButton:hover {
    transform: translateY(-2px);
    box-shadow: 1px 1px 1px 1px gray;
}

.hide {
    display: none;
}

.hrLine {
    border: 1px solid #cccccc;
}