.name {
    margin-bottom: 20px;
}

.aboutMe {
    margin-bottom: 40px;
    text-align: left;
    font-size: 13pt;
}

.section {
    margin: 20px 0;
}

.accordion {
    margin: 10px 0;
}

.title {
    display: flex;
}

.accordion .content p,
.accordion .content a,
.accordion .content h5 {
    text-align: left;
    font-size: 12pt;
    font-family: "Anek Latin", sans-serif;
}

.toggleButton {
    transition: all .2s;
}

.toggleButton:hover {
    transform: translateY(-2px);
    box-shadow: 1px 1px 1px 1px gray;
}

.toggleButton label {
    border: none;
}

.plusButton {
    margin: 0 5px;
    padding: 0;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #aaaaaa;
    color: #777777;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s;
}

.plusButton:hover {
    transform: translateY(-2px);
    box-shadow: 1px 1px 1px 1px gray;
}

.hide {
    display: none;
}

.hrLine {
    border: 1px solid #cccccc;
}
