.card {
    margin: 20px auto;
    padding: 15px 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    text-align: center;
    border-left: 1px solid #cccccc;
    transition: all .2s;
}

.card:hover {
    border-radius: 15px;
    transform: translateY(-2px);
    box-shadow: 1px 1px 2px 2px #cccccc;
}

.title {
    text-align: left;
    font-weight: 700;
    color: #555555;
}

.school {
    color: #555555;
}

.program {
    color: #555555;
}

.location {
    font-size: 10pt;
    color: #777777;
}

.company {
    color: #555555;
}

.price {
    font-weight: 700;
    color: #555555;
}

.host {
    color: #555555;
}

.timeContainer {
    flex: 1.2;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    flex: 4;
}

.time {
    font-size: 10pt;
    color: #777777;
}

.content {
    color: #555555;
}

.skillContainer {
    display: flex;
    flex-direction: column;
}

.skillTagContainer {
    display: flex;
    flex-wrap: wrap;
}

.skillTag {
    margin: 10px 10px 0 0;
    padding: 5px;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    font-size: 12px;
}

@media screen and (max-width: 900px) {
    .card {
        flex-direction: column;
        margin: 15px auto;
        padding: 15px 20px;
    }
}