@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300&display=swap');

h1, h2 {
    color: #282828;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, a, p {
    color: #282828;
    /*font-family: monospace, monospace;*/

    font-family: "Anek Latin", sans-serif;
    text-align: center;
    text-decoration: none;
    margin: 0 !important;
}

body {
}
